@font-face {
    font-family: "light";
    src: url('light.ttf');
}

#start {
    width: 100%;
}

#buttonS {
    margin-top: 4em;
}

body,
html {
    background: url(acc.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#pres {
    font-family: "light";
    margin-top: 4em;
}