@font-face {
    font-family: "light";
    src: url('light.ttf');
}

.btn-outline-success {
    color: white;
    border: 1px solid white;
}

.btn-outline-success:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
    cursor: pointer;
}

#title {
    color: whitesmoke;
    font-family: "light";
    font-size: 5em;
}

#titre {
    color: whitesmoke;
    font-family: "light";
    font-size: 2em;
    margin-top: 1em;
    border-bottom: outset 4px white;
}

#free {
    transition: 0.5s;
}

#cobtn {
    margin-left: 1em;
}

#sendco {
    margin-top: 1em;
}

#hun {
    color: whitesmoke;
    margin-top: 20px;
}

#conection {
    margin-top: 3em;
}

.titleco {
    margin-top: 5px;
    font-size: 22px;
    font-family: "light";
    color: whitesmoke;
}

#formCo {
    position: absolute;
    background-color: rgba(41, 43, 44, 0.7);
    height: 60%;
    width: 50%;
    border: 1px solid lightgray;
    margin-top: 3em;
}

#start {
    font-weight: bold;
    color: whitesmoke;
    font-family: "light";
    font-size: 1em;
    border: 3px solid whitesmoke;
    width: 100%;
}

#buttonS {
    margin-top: 4em;
}

#carou {
    display: flex;
    justify-content: center;
    padding: 0;
}

#nav {
    z-index: 2;
}

body,
html {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../image/montain.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#create {
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
}

#create:hover {
    color: rgb(17, 108, 255);
}

main {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#pres {
    color: whitesmoke;
    margin-top: 1em;
    font-size: 2.2em;
    font-family: "light";
}

#rm {
    position: absolute;
    transition: 1s;
}

.eventsList {
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    font-family: "light";
    color: whitesmoke;
    padding-top: 20px;
}

#evlistinside {
    transition: 0.5s;
    /* opacity: 0; */
    list-style: none;
    margin: auto;
}

#stilevent {
    list-style: none;
    padding: 10px;
    border: 1px solid lightcoral;
    /* margin: 5px; */
}

#infoevent {
    list-style: none;
    padding: 0;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}