@font-face {
    font-family: "light";
    src: url('light.ttf');
}

#title {
    color: whitesmoke;
    font-family: "light";
    font-size: 5em;
}


/*#title:after {
        display: block;
        content: '';
        border-bottom: 2px solid #fff;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
    
   #title:before {
        display: block;
        content: '';
        border-top: 2px solid #fff;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
    
   #title:hover:after {
        transform: scaleX(1);
    }
    
   #title:hover:before {
        transform: scaleX(0.2);
    }*/

#start {
    color: whitesmoke;
    font-family: "light";
    font-size: 1em;
    border: 3px solid whitesmoke;
    width: 100%;
}

#buttonS {
    margin-top: 4em;
}

body,
html {
    background: url(montain.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#pres {
    color: whitesmoke;
    margin-top: 1em;
    font-size: 2.2em;
    font-family: "light";
}