@font-face {
    font-family: "light";
    src: url('light.ttf');
}

#step2 {
    display: none;
}

#step3 {
    display: none;
}

#title {
    font-size: 20px;
}

.label {
    font-family: "light";
    font-size: 25px;
    color: whitesmoke;
}

#form {
    background-color: rgba(41, 43, 44, 0.7);
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnP {
    margin-top: 2em;
    box-shadow: 3px 3px 1px 1px #313235;
}

.iputP {
    margin-bottom: 1em;
}

#hun {
    font-family: "light";
    color: whitesmoke;
}

.cin {
    color: black;
}