@font-face {
    font-family: "light";
    src: url('light.ttf');
}

#step1 {
    transition: 1s;
}

#step2 {
    display: none;
    transition: 1s;
    opacity: 0;
}

#step3 {
    display: none;
    transition: 0.5s;
    opacity: 0;
}

#title {
    font-size: 20px;
}

.label {
    font-family: "light";
    font-size: 25px;
    color: whitesmoke;
}

#form {
    background-color: rgba(41, 43, 44, 0.7);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    border: 1px solid #636b77;
    width: 70%;
}

.btnP {
    margin-top: 2em;
    box-shadow: 3px 3px 1px 1px #313235;
}

.iputP {
    margin-bottom: 1em;
}

#hun {
    font-family: "light";
    color: whitesmoke;
}

.hunn {
    font-family: "light";
    color: #1aa83b;
}

#titre2 {
    display: none;
}

#titre3 {
    display: none;
}

.btn-success {
    background: transparent;
    border: 2px solid #1aa83b;
}

.btn-danger {
    background: transparent;
    border: 2px solid red;
}

#free {
    transition: 0.5s;
}

#free:hover {
    color: rgb(17, 108, 255);
}